@charset "utf-8";
@import "generic/generic.reset";

body {
  background: #3C12C6;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #fff;
  padding: 2.5em 2.5em 3em 2.5em;
}

@keyframes noise {
  0%, 100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0% 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}

a {
  color: #80FFCC;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #ff20b1;
  }
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 30px;
}

p {
  font-size: 1em;
  margin-bottom: 20px;
  color: rgba(#fff, .8)
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero__image {
  text-align: right;
  margin-bottom: 30px;
  position: relative;

  img {
    width: 100%;
    box-shadow: 10px 10px 0 0px rgba(darken(#3C12C6, 20%), .9);
  }
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 2px;
  line-height: 0;
  background: rgba(#fff, .1);
  display: block;
  margin-bottom: 20px;
}

blockquote {
  font-family: serif;
  font-style: italic;
}

.body-border {
  background: rgba(darken(#3C12C6, 20%), .9);
  position: fixed;
  z-index: 1;
}
.body-border--left,
.body-border--right {
  top: 0;
  bottom: 0;
  width: 10px;
}
.body-border--left {
  left: 0;
}
.body-border--right {
  right: 0;
}
.body-border--top,
.body-border--bottom {
  left: 0;
  right: 0;
  height: 10px;
}
.body-border--top {
  top: 0;
}
.body-border--bottom {
  bottom: 0;
}
