.hero
  .container
    .hero__image
      = image_tag "https://ucarecdn.com/630afbfd-831c-410d-84f8-840c7ed5360e/photorenato_2x.jpg", width: 374, height: 237, alt: ""
    .hero__heading
      h1 Hey, Welcome!<br> I’m Renato Carvalho.
      h2 I’m a digital designer, developer &amp; entrepreneur. I’m the Co-founder & CTO at <a href="https://startae.com/?utm_source=site_renato&utm_medium=site&utm_content=landing_page" target="_blank">Startaê</a>, a venture studio that builds great digital products.

.body
  .container
    p My name is Renato, and I’ve been working with digital products for the last 14 years. In the last five years at Startaê, I've been laser-focused on helping companies and startups to be successful by creating fucking great experiences and products.
    p We are also building and launching our products at Startaê. Here are a few of them: <a href="https://officeless.cc/?utm_source=site_renato&utm_medium=site&utm_content=landing_page" target="_blank">Officeless</a>, <a href="https://cuckoo.team/?utm_source=site_renato&utm_medium=site&utm_content=landing_page" target="_blank">Cuckoo</a>, <a href="http://www.superquadra.co/?utm_source=site_renato&utm_medium=site&utm_content=landing_page" target="_blank">Superquadra</a>, and <a href="https://yummmy.com.br/?utm_source=site_renato&utm_medium=site&utm_content=landing_page" target="_blank">Yummmy</a>.
    p I’m happily married and currently living in Brasília, Brazil. I love to travel, primarily to explore and connect with nature. Hiking and camping are my preferred ways to do that.
    p I have other passions like cooking, listening to electronic music and going to festivals. I also love photography because it allows me to explore the world from a different perspective, and I love animals too, especially dogs. I like "drugs", the ones I most like are coffee, cannabis, wine and beer. I believe they can bring benefits if consumed mindfully.
    p The more I learn, the more I realize how important is to have a calmer and balanced life. I'm in a constant pursuit of balancing my Mind-Body-Soul. I've been taking care of these three pillars in a few different ways and <a href="http://me.renatocarvalho.com/" target="_blank">tracking them here</a>.
    hr
    p You can stay in touch with me on <a href="https://twitter.com/renatolz" rel="nofollow" target="_blank">Twitter</a>, <a href="https://medium.com/@renatocarvalho" rel="nofollow" target="_blank">Medium</a>, <a href="https://www.linkedin.com/in/renatocarvalho/" rel="nofollow" target="_blank">Linkedin</a>, <a href="https://www.instagram.com/renatocarvalho/" rel="nofollow" target="_blank">Instagram</a>, <a href="https://github.com/renatocarvalho" rel="nofollow" target="_blank">Github</a> and <a href="https://dribbble.com/renatocarvalho" rel="nofollow" target="_blank">Dribbble</a>. Or shoot me an <a href="mailto:renatolz@gmail.com" rel="nofollow" target="_blank">email</a>.
    hr
    blockquote "Your time is limited, don’t waste it living someone else’s life." — Steve Jobs

.body-border.body-border--left
.body-border.body-border--right
.body-border.body-border--top
.body-border.body-border--bottom
